<a href="https://colab.research.google.com/github/shivampatle2004/python_pratice/blob/main/advance_loops_and_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reverse a given integer number.

In [ ]:
n=int(input("enetr int number "))
c=0
l=[]
while n!=0:
  m=n//10
  m1=n%10
  l.append(m1)
  n=m
  c=c+1
print(c)
print(l)

enetr int number 123
3
[3, 2, 1]

In [ ]:
n=int(input("enetr int number "))
c=len(str(n))
print(c)
print(type(n))
n=str(n)
print(n[::-1])

enetr int number 123
3
<class 'int'>
321

 Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.
Example 1:

Input:

30
Output:

276

In [ ]:
n=int(input("enter the number "))
s=0
j=0
for i in range(1,n+1):
  if(i%5==0):
    continue
  elif(s>300):
      j=i
      break
  else:
    s=s+i
if(s>300):
   s=s-j
print(s)

enter the number 30
275

Print all the Armstrong numbers in a given range.
Range will be provided by the user
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
n1,n2=int(input("eneter the start number")),int(input("eneter the end  number"))
l=[]

for j in range(n1,n2+1):
  i2=0
  i=j
  i1=0
  while i!=0:
    i1=i%10
    i=i//10


    i2=i2+i1*i1*i1
  if(i2==j):
    l.append(i2)
print(l)

eneter the start number1
eneter the end  number500
[1, 153, 370, 371, 407]

Calculate the angle between the hour hand and minute hand.
Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:
H = 9 , M = 0
Output:
90
Explanation:
The minimum angle between hour and minute hand when the time is 9 is 90 degress.

In [3]:
h=int(input("enter the hour "))
m=int(input("enter the minute "))
m=m//5
if(m==0):
  m=12
n=abs(h-m)
n1=abs(n-12)
if(n>n1):
  n2=n1*30
else:
  n2=n*30
print(n2)

enter the hour 9
enter the minute 10
150