<a href="https://colab.research.google.com/github/shivampatle2004/python_pratice/blob/main/python_loops_and_if_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pyhton loops and stetments pratice
Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below: Salary(Lakhs) : Tax(%)

Below 5 : 0% 5-10 : 10% 10-20 : 20% aboove 20 : 30%

In [ ]:
n = int(input("Enter your annual salary :\n"))

har = 0.1 * n
da = 0.05 * n
pf = 0.03 * n
ist = 0
flag = 0

if 500000 <= n < 1000000:
    ist = 0.1 * n
elif 1000000 <= n < 2000000:
    ist = 0.2 * n
elif n >= 2000000:
    ist = 0.3 * n
else:
    print("Note: Salary below 500,000 - No income tax applied")
    flag = 1

if flag == 0:
    deduct = har + da + pf + ist
    total = n - deduct
    print("In Hand Salary Is :", total)
else:
    print("In hand salary is:", n)

Enter your annual salary :
1000000
In Hand Salary Is : 620000.0

Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
n1,n2,n3=int(input("Enter the first angle: ")),int(input("Enter the second angle: ")),int(input("Enter the third angle: "))
if(n1+n2+n3==180):
  print("Triangle can be formed")
else:
  print("Triangle cannot be formed")

Enter the first angle: 120
Enter the second angle: 10
Enter the third angle: 50
Triangle can be formed

Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
c,s=float(input("Enter the cost price: ")),float(input("Enter the selling price: "))
if(c>s):
  print("loss")
else:
  print("profit")

Enter the cost price: 10
Enter the selling price: 1
loss

Write a menu-driven program -
cm to ft
km to miles
USD to INR
exit

In [ ]:
while True:
  print("1. cm to ft\n2. km to mile\n3. usd to ir\n4. stop")
  n=int(input("enter your choose:"))
  if(n==1):
    a=(int(input("enter the value")))
    ans=a/30
    print(ans)

  elif(n==2):
    a=(int(input("enter the value")))
    ans=a/1.609
    print(ans)

  elif(n==3):
    a=(int(input("enter the value")))
    ans=a*90
    print(ans)

  else:
    print("exit")
    break

1. cm to ft
2. km to mile
3. usd to ir
4. stop
enter your choose:2
enter the value200
124.30080795525171
1. cm to ft
2. km to mile
3. usd to ir
4. stop
enter your choose:4
exit

xercise 12: Display Fibonacci series up to 10 terms.
Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [ ]:
n=int(input("enter the number till you want fibonacci seris "))
print(0)
print(1)
a,b,i=0,1,1
for i in range(n-2):
  c=a+b
  print(c)
  a=b
  b=c

enter the number till you want fibonacci seris 10
0
1
1
2
3
5
8
13
21
34

Find the factorial of a given number.
Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [ ]:
n=int(input("eneter the number for till you wantt factorical:"))
s=1

for ij in range(1,n+1):
  s=s*ij

print(s)

eneter the number for till you wantt factorical:5
120